/*Asetetaan dokumentti täyttämään korkeudelta koko sivu, jotta sivupalkki ei katkea.*/
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    /*Sisältö alkaa sivun yläpäästä, ei keskeltä.*/
    align-content: flex-start;
    flex-wrap: wrap;
    font-family: Helvetica, sans-serif;
    background-color: #f9f7f7;
}

* {
    margin: 0;
    padding: 0;
}

/*Kaikki sisältölaatikot oletuksena pois näkyvistä. Sisällölle oletusasettelu.*/
div {
    display: none;
    /*flex-grow ja flex-shrink 1*/
    flex: 1;
    /*Sisältö asetellaan pystysuoraan.*/
    flex-direction: column;
    /*Vasemman puolen marginaali vastaa navigointipalkkia*/
    margin-left: max(130px, 15%);
    /*Keskitetään sisältöä hieman.*/
    padding-inline: 20%;
    align-items: center;
}

p {
    padding-block: 20px;
}

/*Sisällön otsikoiden muotoilu.*/
h2 {
    padding: 20px;
    padding-left: 0;
    color: #112d4e;
    text-decoration: underline;
    text-underline: #112d4e;
}

/*Kuvien muotoilu*/
img {
    max-width: 100%;
    height: auto;
}

.embeddedVideo {
    display: block;
    margin: 0;
    padding-inline: 50%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.embeddedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 650px;
    border: 0;
}

/*Otetaan aloitussivu esiin.*/
#main {
    display: flex;
}

/*Poistetaan navigointipalkista turhat pisteet.*/
li {
    list-style-type: none;
    font-weight: bold;
}

/*Navigointipalkin listan tyyli.*/
nav {
    background-color: #112d4e;
    /*Lista aina etummaisena.*/
    z-index: 10;
    height: 100%;
    width: 15%;
    min-width: 130px;
    /*Navigointipalkki kulkee mukana skrollatessa.*/
    position: fixed;
}

/*Mobiilivalikko aluksi pois näkyvistä.*/
#ham {
    display: none;
}

label {
    display: none;
    color: white;
    font-size: 20px;
}

/*Navigointipalkin linkkien tyyli.*/
/*nav ul*/
li {
    padding: 20px;
    color: #f9f7f7;
    text-decoration: none;
}

/*Navigointipalkki hiirtä säikähtäessä.*/
/*nav ul*/
li:hover {
    background-color: #3f72af;
    color: #112d4e;
}

/*Tarvittavat muutokset mobiililaitteille. Sivupalkki vaihtuu ylävalikkoon.*/
@media all and (max-width: 600px) {
    nav {
        width: 100%;
        height: fit-content;
    }

    /*Valikko oletuksena poissa näkyvistä, ettei mobiilikäyttäjän näyttö ole heti täynnä tavaraa.*/
    ul {
        display: none;
    }

    /*Otsikot keskellä. Oikeanlaiset marginaalit asettelulle.*/
    div {
        margin-left: 0;
        margin-top: 5%;
        padding-inline: 20px;
    }

    /*Painikkeelle valittu symboli näkyviin.*/
    label {
        display: block;
    }
}


/*
Värejä:
#112d4e
#3f72af
#dbe2ef
#f9f7f7*/
