/*tänne kiva tyyli*/
* {
    box-sizing: border-box;
}

div {
    display: none;
    position: relative;
    left: 250px;
}
#main {
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

/*Navigation bar style*/
.navigation {
    display: block;
}
.navigation nav{
    /*visibility: visible;*/
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #112d4e;
    overflow-x: hidden;
}

/*Navigation bar link style*/
.navigation nav ul li {
    padding: 20px;
    display: block;
    color: #f9f7f7;
    text-decoration: none;
}

/*Navigation bar link style on hover*/
.navigation nav ul li:hover {
    background-color: #3f72af;
    color: black;
}

/*Background*/
body {
    background-color: #f9f7f7;
}

/*Värejä:
#112d4e
#3f72af
#dbe2ef
#f9f7f7*/