/*Asetetaan dokumentti täyttämään korkeudelta koko sivu, jotta sivupalkki ei katkea.*/
html {
    height: 100%;
}

/*Elementit asetellaan flexboxin avulla.*/
body {
    background-color: #f9f7f7;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
}

/** {
    box-sizing: content-box;
}*/

/*Kaikki sisältölaatikot oletuksena pois näkyvistä. Leveys on 85%.*/
div {
    display: none;
    width: 85%;
    object-fit: cover;
    position: relative;
    left: 15%;
}

/*Otetaan aloitussivu esiin.*/
#main {
    display: block;
}

/*Poistetaan navigointipalkin listasta marginaalit ja padding.*/
ul {
    padding: 0;
    margin: 0;
}

/*Poistetaan navigointipalkista turhat pisteet.*/
li {
    list-style-type: none;
}

/*Navigointipalkin listan tyyli.*/
nav {
    background-color: #112d4e;
    /*Lista aina etummaisena.*/
    z-index: 10;
    height: 100%;
    width: 15%;
    min-width: 130px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    /*overflow-x: hidden;*/
}

/*Mobiilivalikko aluksi pois näkyvistä.*/
#ham {
    display: none;
}

label {
    display: none;
    color: white;
}

/*Navigointipalkin linkkien tyyli.*/
nav ul li {
    padding: 20px;
    color: #f9f7f7;
    text-decoration: none;
}

/*Navigointipalkki hiirtä säikähtäessä.*/
nav ul li:hover {
    background-color: #3f72af;
    color: black;
}

/*Tarvittavat muutokset mobiililaitteille. Sivupalkki vaihtuu ylävalikkoon.*/
@media only screen and (max-width: 600px) {

    nav {
        height: fit-content;
        width: 100%;

    }
    ul {
        display: none;
    }

    /*Siirretään sisältö vasempaan reunaan.*/
    div {
        left: 0;
    }
    /*Painikkeelle valittu symboli näkyviin.*/
    label {
        display: block;
    }
}


/*Värejä:
#112d4e
#3f72af
#dbe2ef
#f9f7f7*/